.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 77px;
    display: flex;
    align-items: center;
    background-color: rgba(155, 173, 183, 0.78);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    margin-bottom: 32px;
    box-shadow: 0 5px 12px 0px #42A1EC;
}

.link {
    margin-left: 30px;
    border: 2px solid #0070C9;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    color: black;
}

.link:hover {
    background-image: linear-gradient(#42A1EC, #0070C9);
}

.button {
    margin-right: 40px;
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-left: 7px;
}

.button:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.button:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

.button:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.task-container {
    width: 600px;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#42A1EC, #0070C9);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    flex: 1 0 auto;
    margin-bottom: 20px;
}

.task-title {
    width: 600px;
    margin: 0px 0 10px 15px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: #0070C9 underline;
}

.question-text {
    font-style: italic;
    font-size: 18px;
}

.highlighted-empty {
    color: rgba(255, 222, 0, 0.97);
}

.highlighted-correct {
    color: rgb(10, 115, 0);
}

.highlighted-wrong {
    color: rgb(201, 19, 19);
}

.question-choice {
    font-size: 18px;
    margin-left: 5px;
}

.question-answer {
    font-weight: bold;
    font-style: italic;
}

.score {
    color: #000;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    padding-bottom: 5px;
}
